* {
  font-family: "poppins";
}

h1,
h2,
h3 {
  font-weight: bold;
}

::-webkit-scrollbar {
  border-radius: 9999px;
  height: 90%;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 9999px;
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border-radius: 9999px;
  background: #555;
}

.main-button {
  background-color: #99DA21;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #006C1A;
  font-size: 20px;
  font-weight: bold;
  max-width: 320px;
  margin: 16px auto;
  padding: 16px 48px;
  text-align: center;
  transition: all 300ms ease-in-out;
  width: 100%;
  position: relative;
  z-index: 10;
}

.main-button:hover {
  background-color: #006C1A;
  border-color: transparent;
  color: #99DA21;
  transform: scale(1.05);
}

.back-button {
  align-items: center;
  background-color: #293591;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  color: #fff;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  gap: 8px;
  margin: 16px auto;
  padding: 16px 32px;
  text-align: center;
  transition: all 300ms ease-in-out;
  position: relative;
  z-index: 10;
}

.back-button:hover {
  border-color: transparent;
  transform: scale(1.05);
}

.logo-lwart {
  display: block;
}

@media (max-width:1024px) {
  .logo-lwart {
    display: none;
  }
}

.map-background {
  display: block;
  position: absolute;
}

@media (max-width:1024px) {
  .map-background {
    display: none;
  }
}
